<template>
    <div>
        <Header></Header>
        <Content></Content>
        <Footer></Footer>
    </div>
</template>

<script>
import Header from './partials/header'
import Content from './partials/content'
import Footer from './partials/footer'

export default {
  components: {
    Header,
    Content,
    Footer
  }
}
</script>

<style>

</style>
